.tab-list {
    display: flex;
    overflow-x: auto;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    white-space: nowrap;
  
    .tab {
      padding: 10px 20px;
      cursor: pointer;
      border: 1px solid transparent;
      display: inline-block;
  
      &--selected {
        background-color: #f0f0f0;
        border-color: #ccc;
        border-bottom: none;
      }
    }
  }
  